@mixin bgLessBtn {
  color: #4386bf;
  margin-right: 2.125rem;
  border-style: none;
  background-color: white;
  padding: 0;
  width: fit-content;
  width: -moz-fit-content;
  transition: ease-in-out, 0.2s;

  &:hover {
    color: #305d85;
    transform: scale(1.2);
  }
}

@mixin regBtn($width, $height, $hover) {
  width: $width;
  height: $height;
  background-color: #0290ff;
  color: white;
  border-radius: 3px;
  transition: ease-in-out, 0.2s;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem 1rem 0.5rem 1rem;

  @if $hover {
    &:hover {
      background-color: white;
      border-color: #0290ff;
      color: #0290ff;
    }
  }
}

@mixin regInput($height, $width) {
  color: rgb(102, 102, 102);
  width: $width;
  height: $height;
  border-color: #e8e8e8;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  margin-right: 2.125rem;

  &:focus {
    outline: none;
  }
}

@mixin someObject {
  height: 40px;
  width: 20px;
}

@mixin member_tag($color, $padding) {
  height: 1.5rem;
  width: 7rem;
  background-color: $color;
  border-radius: 3px;
  border-color: transparent;
  color: white;
  font-size: 0.8rem;
  padding-top: 0.3rem;
  padding-left: $padding;
  margin-left: 0.8rem;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin member_btn($color) {
  height: 1.5rem;
  width: 7rem;
  color: $color;
  border: 1px solid $color;
  border-radius: 3px;
  margin-left: 0.8rem;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
