@import "./modules/removers";
@import "./modules/wrappers";
@import "./modules/buttons";

/* ------ fonts ----- */
@font-face {
  font-family: 'Cocogoose1';
  src: url('./fonts/Cocogoose_Pro_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose2';
  src: url('./fonts/Cocogoose_Pro_Light_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose3';
  src: url('./fonts/Cocogoose_Pro_Light-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose4';
  src: url('./fonts/Cocogoose_Pro_Semilight_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose5';
  src: url('./fonts/Cocogoose_Pro_Semilight-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose6';
  src: url('./fonts/Cocogoose_Pro_Thin_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose7';
  src: url('./fonts/Cocogoose_Pro_Thin-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose8';
  src: url('./fonts/Cocogoose_Pro_UltraLight_Italic-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose9';
  src: url('./fonts/Cocogoose_Pro_Ultralight-trial.ttf');
}

@font-face {
  font-family: 'Cocogoose10';
  src: url('./fonts/Cocogoose_Pro-trial.ttf');
}

@font-face {
  font-family: 'Lato1';
  src: url('./fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato2';
  src: url('./fonts/Lato-BlackItalic.ttf');
}

@font-face {
  font-family: 'Lato3';
  src: url('./fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato4';
  src: url('./fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Lato5';
  src: url('./fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato6';
  src: url('./fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato7';
  src: url('./fonts/Lato-LightItalic.ttf');
}

@font-face {
  font-family: 'Lato8';
  src: url('./fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato9';
  src: url('./fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: 'Lato10';
  src: url('./fonts/Lato-ThinItalic.ttf');
}


/* --- end of fonts -- */

/* --- generals -- */
body {
  margin: 0;
  padding: 0;
}

/* --- header -- */
.home_btn {
  width: 100vw;
  text-align: center;
  text-decoration: none;
  height: 5vw;
}

.Home_Btn_text {
  height: 8vw;
  font-family: Lato9, serif;
  font-size: 5vw;
  color: white;
  background-color: rgb(207, 66, 120); background: linear-gradient(135deg, rgba(207, 66, 120,1) 0%, rgba(207, 66, 120,0.9) 67%, rgba(207, 66, 120,1) 100%);
  margin: 0;
}

/* --- home -- */
.Home_Header_1 {
  height: 30vw;
  background: linear-gradient(135deg, rgba(250, 81, 146,1) 0%, rgba(250, 81, 146,0.9) 67%, rgba(250, 81, 146,1) 100%);
  color: white;
  padding-top: 20vw;
  text-align: right;
  padding-right: 4vw;
}

.Home_Header_1 h1 {
  font-family: Lato8, serif;
  font-size: 10vw;
  margin-top: 0;
}

.Home_Header_1 h2 {
  font-family: Lato8, serif;
  font-size: 5vw;
  margin-top: 0;
}

.Home_Header_2 {
  height: 6vw;
  text-align: left;
  background: linear-gradient(135deg, rgba(207, 66, 120,1) 0%, rgba(207, 66, 120,0.9) 67%, rgba(207, 66, 120,1) 100%);
  padding-top: 1vw;
}

.Home_Header_2 h1 {
  font-family: Lato8, serif;
  font-size: 3.5vw;
  margin-left: 2vw;
  margin-top: 0;
  color: white;
}
.home_arrows {
  position: relative;
  width: 4.5vw;
  height: 4.5vw;
  top: -18vw;
  left: -2vw;
  transform: rotate(90deg);
}

.home_btns_cont {
  display: grid;
  grid-template-rows: 50vw 50vw 50vw 50vw 50vw 50vw;
  grid-template-columns: 50vw 509vw;
  padding: 0;
  margin: 0;
}

.home_btns_cont li {
  list-style: none;
  background: linear-gradient(135deg, rgba(207,66,120,1) 0%, rgba(207,66,120,0.95) 67%, rgba(207,66,120,1) 100%);
  padding-top: 20vw;
  padding-left: 5vw;
  width: 45vw;
  text-align: right;
}

.home_btns_cont li:nth-child(4n + 4) {
  background: linear-gradient(135deg, rgba(231, 74, 135,1) 0%, rgba(231, 74, 135,0.95) 67%, rgba(231, 74, 135,1) 100%);
}

.home_btns_cont li:nth-child(4n + 1) {
  background: linear-gradient(135deg, rgba(231, 74, 135,1) 0%, rgba(231, 74, 135,0.95) 67%, rgba(231, 74, 135,1) 100%);
}

.home_btns_cont li a {
  text-decoration: none;
  color: white;
  font-family: Lato1, serif;
  font-size: 2.5vw;
  width: 25vw;
}

.home_btns_cont li h1 {
  width: 40vw;
}

.nameTitle h2 {
  position: relative;
  font-family: Lato1, serif;
  font-size: 5vw;
  left: 25vw;
  top: 20vw;
  width: 70vw;
  height: 10vw;
  word-break: normal;
}

.home_btns_cont li h2 {
  width: 40vw;
}

.home_item_btn {
  width: 50vw;
  height: 50vw;
}

/* --- details -- */
.nameTitle {
  height: 50vw;
  background: linear-gradient(135deg, rgba(245,80,144,1) 0%, rgba(245,80,144,0.9) 67%, rgba(245,80,144,1) 100%);
  color: white;
  margin-top: -7vw;
  width: 100vw;
  text-align: right;
}

.nameTitleText {
  position: relative;
  font-family: Lato1, serif;
  font-size: 10vw;
  top: 10vw;
  width: 90vw;
  height: 10vw;
  word-break: normal;
}

.detailsUl {
  padding: 0;
  margin: 0;
}

.details_container {
  height: fit-content;
  list-style: none;
  margin-left: 0;
}

.details_container:nth-child(odd) {
  opacity: 0.95;
}

.details_container:nth-child(even) {
  opacity: 1;
}

.collapse_button {
  width: 100vw;
  height: 15vw;
  margin: 0;
  font-family: Lato3, serif;
  font-size: 5vw;
  color: white;
  border-style: none;
  background: linear-gradient(135deg, rgba(207, 66, 120,1) 0%, rgba(207, 66, 120,0.95) 67%, rgba(207, 66, 120,1) 100%);
}

.collapsed-info {
  background: linear-gradient(135deg, rgba(181, 67, 120,1) 0%, rgba(181, 67, 120,0.95) 67%, rgba(181, 67, 120,1) 100%);
  margin: 0;
  text-align: center;
}

.collapsed-text {
  margin: 0;
  color: white;
  font-family: Lato3, serif;
  font-size: 5vw;
  position: relative;
}

.pointing_arrow {
  position: absolute;
  width: 4.5vw;
  height: 4.5vw;
  left: 90vw;
  transform: rotate(90deg);
}

.pointing_down {
  transform: rotate(540deg);
  animation-name: rotationanim;
  animation-duration: 0.5s;
}

@keyframes rotationanim {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

.pointing_right {
  transform: rotate(90deg);
  animation-name: rotationanim2;
  animation-duration: 0.5s;
}

@keyframes rotationanim2 {
  0% {
    transform: rotate(540deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
/* --- details -- */
.loading_state {
  text-align: center;
  width: 100vw;
  height: 200vw;
  background: linear-gradient(135deg, rgba(207, 66, 120,1) 0%, rgba(207, 66, 120,0.95) 67%, rgba(207, 66, 120,1) 100%);
}
.loading_state h1 {
  position: relative;
  margin: 0;
  top: 30vw;
  font-family: Lato3, serif;
  font-size: 10vw;
  animation: loadinganim 2s infinite;
  color: white;
}
@keyframes loadinganim {
  0%{
    transform: scale(1) rotate(0deg);
  }
  35%{
    transform: scale(1.3) rotate(0deg);
  }
  70%{
    transform: scale(0) rotate(540deg);
  }
  100%{
    transform: scale(1);
  }

}